In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats as st

In [4]:
filepath = "../main_resources/hc_workers/clean_renamed_hcw_df.csv"
df = pd.read_csv(filepath)
df.columns

Index(['date', 'age', 'gender', 'state', 'education_level', 'marital_status',
       'tested_positive_self', 'tested_positive_ff', 'living_with',
       'anxiety_diagnosed', 'contact_patients', 'job_description',
       'scared_people_reaction', 'denied_by_community', 'family_fear',
       'support_from', 'difficulties_with', 'protection_provided',
       'aggretions_fear', 'colapsed_by_news', 'insomnia', 'frozen_by_info',
       'appetite_loss', 'nauseated_by_info', 'fear_of_infection_self',
       'fear_of_infection_ff', 'anxiety_covid', 'dreams_covid',
       'energized_at_work', 'vigorous_at_work', 'enthusiastic_at_work',
       'inspired_at_work', 'motivated_at_work', 'happy_at_work',
       'proud_at_work', 'immersed_at_work', 'carried_away_at_work',
       'feel_angry', 'feel_anxious', 'feel_at_ease', 'feel_bored', 'feel_calm',
       'feel_content', 'feel_depressed', 'feel_discouraged', 'feel_disgusted',
       'feel_ecstatic', 'feel_energetic', 'feel_enthusiastic', 'feel_excited',
       'feel_fatigued', 'feel_frightened', 'feel_furious', 'feel_gloomy',
       'feel_inspired', 'feel_relaxed', 'feel_satisfied', 'ID'],
      dtype='object')

In [21]:
# 28
df.iloc[:,range(28,30)]

     energized_at_work  vigorous_at_work
0                    1                 1
1                    2                 2
2                    2                 2
3                    1                 1
4                    2                 2
..                 ...               ...
232                 -1                 1
233                  3                 3
234                  3                 3
235                 -1                -1
236                  1                 3

[237 rows x 2 columns]

In [20]:
df.iloc[:,29] = df.iloc[:,29].replace({
        'Often': 1, 
        'Very often': 2, 
        'Sometimes': 0, 
        'Always': 3, 
        'Never': -3,
        'Almost Never': -2, 
        'Rarely': -1 
    })

In [22]:

for i in range(28,37):
    df.iloc[:,i] = df.iloc[:,i].replace({
        'Often': 1, 
        'Very often': 2, 
        'Sometimes': 0, 
        'Always': 3, 
        'Never': -3,
        'Almost Never': -2, 
        'Rarely': -1 
    })

In [ ]:
# Clean column 8 "During the lockdown period, indicate who you are living with:"
cleaned_df["During the lockdown period, indicate who you are living with:"] = cleaned_df["During the lockdown period, indicate who you are living with:"].replace({
    'Hostelers': 'Hospital Hostel',
    'Hostel': "Hospital Hostel",
    'With close family': 'Family',
    'With extended family': "Family",
    'TREATING COVID AND OTHER PATIENTS': "Hospital Hostel",
    'With hospital staff': "Hospital Hostel",
    'Co employers': "Hospital Hostel",
    'Stayed in a hospital,working there day and night for80days ': "Hospital Hostel"
})

cleaned_df.iloc[:,8].unique()